{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated and user == post.author %}
		     <p><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></p> 
		     <p><a class="btn btn-default" href="{% url 'edited_history' pk=post.pk %}">History</a></p>
		{% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.author }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}